* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

nav {
    background-color: #131921;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #ff9900;
    font-size: 15px;
    font-weight: bold;
}

.search input {
    padding: 8px;
    width: 300px;
}

.search button {
    padding: 8px;
}

.links a {
    color: white;
    text-decoration: none;
    margin-left: 15px;
}

.banner {
    background-color: #e3e6e6;
    padding: 80px;
    text-align: center;
}

.products {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
    flex-wrap: wrap;
}

.card {
    width: 220px;
    padding: 15px;
    box-shadow: 0 0 10px lightgray;
}

.card img {
    width: 100%;
}

.card button {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: orange;
    border: none;
    cursor: pointer;

}

footer {
    background: #232f3e;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}

.login-box {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    box-shadow: 0 0 10px gray;
    text-align: center;
}

.login-box input {
    width: 100%;
    padding: 10px;
}

